@page "/employees"

<PageTitle>SkillsMatrix - Employees</PageTitle>

<h3>Employees</h3>

<a class="btn btn-action" href="editemployee/0">
    New  
    <i class="fa-solid fa-plus"></i>
</a>
<table class="table">

    <thead>
        <tr>
            <!--<td>
                Id
            </td>-->
            <td>
                Name
            </td>
            <td>
                Skills
            </td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tbody>

        @foreach(var emp in _employees)
        {
            <tr>
                <!--<td>
                    @emp.Id
                </td>-->
                <td>
                    @emp.Name
                </td>
                <td>
                    @foreach (KeyValuePair<string, int> item in emp.EmployeeSkills)
                    {
                        <p>@item.Key - @item.Value Years</p>
                    }
                </td>
                <td>
                    <a class="btn btn-transparent" href="editemployee/@emp.Id">
                        <i class="fa-regular fa-pen-to-square btn-icon"></i>
                    </a>
                </td>
                <td>
                    <button class="btn btn-transparent" @onclick="@( e => OnDelete(emp.Id) )" title="Delete">
                        <i class="fa-regular fa-trash-can btn-icon-danger"></i>
                    </button>
                </td>
            </tr>
        }

    </tbody>

</table>

@inject V1BlazorSkills.Data.IEmployeeService EmployeeService;
@code {
    private List<V1BlazorSkills.Data.Employee> _employees;
    protected override void OnInitialized()
    {
        _employees = EmployeeService.GetEmployees();
    }

    private void OnDelete(Guid id)
    {
        EmployeeService.DeleteEmployee(id);
    }
}
